<!DOCTYPE html>
<html>
  <head>
    <title>Fotobook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "feed.css" %>
    <%= stylesheet_link_tag "style.css"%>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
  </head>
  

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'js' %>
  </body>
</html>
