
<table class="table">
  
  <thead>
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Confirpassword</th>
    </tr>
  </thead>
  <%@users.each do |u|%>
  <tbody>
    <tr>
      <th scope="row"><%= u.id%></th>
      <td><%= u.firstname%></td>
      <td><%= u.lastname%></td>
      <td><%= u.email%></td>
      <td><%= u.password%></td>
      <td><%= u.confirpassword%></td>
    </tr>
  </tbody>
  <%end%>
</table>
